In [1]:
import pandas as pd
import numpy as np

In [2]:
dfevents = pd.read_csv('../../data/ecommerce/events.csv')

In [3]:
dfevents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
timestamp        int64
visitorid        int64
event            object
itemid           int64
transactionid    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [6]:
#gensim
import gensim
from gensim.utils import simple_preprocess
# from gensim.parsing.preprocessing import STOPWORDS
import gensim.corpora as corpora
from gensim.models import CoherenceModel

# Plotting tools
import pyLDAvis
import pyLDAvis.gensim  # don't skip this
import datetime

In [7]:
times=[]  # convert from unix time format
for i in dfevents['timestamp']:
    times.append(datetime.datetime.fromtimestamp(i//1000.0))
dfevents['timestamp']=times

In [11]:
dfevents.head()

            timestamp  visitorid event  itemid  transactionid
0 2015-06-01 23:02:12     257597  view  355908            NaN
1 2015-06-01 23:50:14     992329  view  248676            NaN
2 2015-06-01 23:13:19     111016  view  318965            NaN
3 2015-06-01 23:12:35     483717  view  253185            NaN
4 2015-06-01 23:02:17     951259  view  367447            NaN

In [13]:
e_groups = dfevents.groupby('event')['itemid'].apply(list)
e_groups

event
addtocart      [5206, 10572, 255275, 356475, 312728, 63312, 1...
transaction    [356475, 15335, 81345, 150318, 310791, 54058, ...
view           [355908, 248676, 318965, 253185, 367447, 22556...
Name: itemid, dtype: object

In [14]:
dfcluster = dfevents.groupby('visitorid')['itemid'].apply(list)
dfcluster.shape  # this takes several minutes to run. 1407580 unique users

(1407580,)

In [19]:
dfcluster.to_pickle('../../data/ecommerce/cust_prod_cluster.pkl', compression='zip')

In [27]:
SeriesList = pd.read_pickle('../../data/ecommerce/cust_prod_cluster.pkl', compression='zip')
# dfcluster.head()

In [ ]:
dfcluster = pd.DataFrame(SeriesList)
# dfcluster.head()

In [30]:
dfcluster['item_count'] = dfcluster['itemid'].apply(len)
# dfcluster['itemid'].apply(len)[:10]

In [31]:
dfcluster.head()

                                                      itemid  item_count
visitorid
0                                    [285930, 357564, 67045]           3
1                                                    [72028]           1
2          [216305, 325215, 342816, 325215, 342816, 25988...           8
3                                                   [385090]           1
4                                                   [177677]           1

In [32]:
dfcluster[dfcluster['item_count'] > 1].shape # compares to 1407580 unique users
# 406,020  users with > 1 products interacted with

(406020, 2)

In [34]:
dfcluster[dfcluster['item_count'] > 1].to_pickle('../../data/ecommerce/cust_prod_clust2.pkl', compression='zip')

In [ ]:
dfcluster = pd.read_pickle('../../data/ecommerce/cust_prod_clust2.pkl', compression='zip')
dfcluster.head()