In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dfevents = pd.read_csv('../../data/ecommerce/events.csv')
dfevents.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [3]:
dfevents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
timestamp        int64
visitorid        int64
event            object
itemid           int64
transactionid    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [6]:
dfevents['visitorid'].value_counts()[:10] # users with most event rows

1150086    7757
530559     4328
152963     3024
895999     2474
163561     2410
371606     2345
286616     2252
684514     2246
892013     2024
861299     1991
Name: visitorid, dtype: int64

In [7]:
dfevents['visitorid'].unique()

array([ 257597,  992329,  111016, ...,  591435,  762376, 1184451])

In [8]:
cat_prod = pd.read_pickle('../../data/ecommerce/prod_with_cat.pkl', compression='zip')
uni_prod = pd.read_pickle('../../data/ecommerce/prod_unique.pkl', compression='zip')
print(cat_prod.shape, uni_prod.shape)

(788214, 2) (417053, 1)

In [14]:
cat_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 788214 entries, 15 to 10999994
Data columns (total 2 columns):
itemid    788214 non-null int64
value     788214 non-null object
dtypes: int64(1), object(1)
memory usage: 18.0+ MB

In [12]:
cat_prod['value'].unique().shape # number of unique categoryid

(1242,)

In [17]:
cat_prod.values[:5]

array([[8921, '1188'],
       [122405, '769'],
       [225336, '491'],
       [193256, '1261'],
       [301841, '1493']], dtype=object)

In [18]:
cat_prod['value'] = cat_prod['value'].astype('int32')
cat_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 788214 entries, 15 to 10999994
Data columns (total 2 columns):
itemid    788214 non-null int64
value     788214 non-null int32
dtypes: int32(1), int64(1)
memory usage: 15.0 MB

In [20]:
np.unique(cat_prod.values).shape # compared to 417053

(417185,)

In [29]:
cat_prod.drop_duplicates().shape

(442432, 2)

In [41]:
find_multi_cat = cat_prod.groupby('itemid').agg('nunique')
# cat_prod[cat_prod.value == 0]  # value 0 is valid catid
find_multi_cat[find_multi_cat['value'] > 1].shape  # 23352 val > 1

(23352, 2)

In [44]:
# 442432 - 23352 = 419080 compared to 417053
cat_prod = pd.DataFrame(cat_prod.drop_duplicates().groupby('itemid').value.agg('max'))

In [46]:
print(cat_prod.head(3))
cat_prod.shape

        value
itemid
0         209
1        1114
2        1305

(417053, 1)

In [47]:
cat_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417053 entries, 0 to 466866
Data columns (total 1 columns):
value    417053 non-null int32
dtypes: int32(1)
memory usage: 4.8 MB

In [48]:
cat_prod.to_pickle('../../data/ecommerce/prod_cat_417053.pkl', compression='zip')